Package: moe.waru.hoshu
Name: Hoshu
Version: 1.0.0
Architecture: iphoneos-arm
Depends: firmware (>= 15.0), com.nightwind.rootless-patcher
Description: a GUI wrapper for Nightwind's rootless-patcher
Maintainer: waruhachi
Author: waruhachi
Section: Utilities
Icon: https://github.com/waruhachi/Hoshu/blob/main/Resources/Hoshu.png?raw=true
Depiction: https://github.com/waruhachi/Hoshu
Support: https://github.com/waruhachi/Hoshu
